repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v18.1.8
    hooks:
      - id: clang-format
        args: [--style=file]
        files: "\\.(c|cc|cxx|cpp|h|hpp|hh|ixx)$"

  - repo: https://github.com/pocc/pre-commit-hooks
    rev: v1.3.5
    hooks:
      - id: clang-tidy
        args:
          - -checks=clang-analyzer-*,bugprone-*,performance-*,modernize-*
          - -warnings-as-errors=clang-analyzer-*,bugprone-argument-comment
        files: "\\.(cc|cxx|cpp|hpp|h|hh|ixx)$"
        additional_dependencies: [clang-tidy==18.1.8]

  - repo: https://github.com/cheshirekow/cmake-format-precommit
    rev: v0.6.13
    hooks:
      - id: cmake-format
      - id: cmake-lint



